:root {
    --orange-color: #DA722C;
    --blue-color: #057ADA;
    --white-color: #E8F7FB;
    --dark-blue-color: #023047;
    --black-color: #070917;
    --light-blue-color: #6F7DFB;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "poppins", sans-serif ;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

/* Buttons */

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.dark-btn {
    background: var(--dark-blue-color);
}

.light-btn {
    background: var(--orange-color);
}

.btn.enrol-icon::before {
    content:url("images/enrol-icon.svg");
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.enrol-icon {
    padding-left:60px;
}

/* Header */

header {
   background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
   height: 100vh;
   width: 100%; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top:34px;
    z-index: 100;
}

nav .logo {
    color: #fff;
    font-family: "Raleway" , sans-serif ;
    font-weight: 900;
    font-size: 40px;

}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: "poppins", sans-serif ;
    font-weight: bold;
    font-size: 16px;
    color:#fff;
    text-decoration: none;
}

/* Hero section */

.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.hero-section .left h1 {
    color: #fff;
    font-family: "Raleway" , sans-serif ;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    margin-bottom: 0;
}

.hero-section .left p { 
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 30px;
    width: 457px;


}

.hero-section .left {
    flex: 1;
}
    

.hero-section .right {
    align-self: flex-end;
}

.hero-section .right img{
    height: 520px;
    vertical-align: middle;
}

/* Achivement-cards */

.achivement-card {
   position: absolute;
   min-width: 200px;

}
.achivement-card .content {
    border-radius: 24px;
    background: #fff;
    padding: 8px 23px;
    z-index: 10;
    position: relative;
}

.achivement-card.student-enrolled {
    left: 49%;
    top: 270px;
}

.achivement-card.overall-rating {
    left: 47%;
    top: 470px;
}

.achivement-card .content div {
    display: flex;
    align-items: center;
    gap: 12px;
    
}

.achivement-card h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: var(--dark-blue-color);
    margin: 0;
    text-align: center;
    width: 100%;
}

.achivement-card p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--dark-blue-color);
    margin-top:-8px ;
    margin-bottom: 8px;
}

.achivement-card .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background:linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 2;
}
